* {
  margin: 0;
  padding: 0;
}
.scroll__up {
  position: fixed;
  bottom: 70px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 6;
  background: tomato;
  color: white;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width:1000px;
  height: 400px;
  margin: 1rem auto;

}
.hiden{
  height: 0;
}
@media (min-width: 768px) {
  .scroll__up {
    bottom: 50px;
    right: 10px;
  }

}
@media (max-width:700px){
      .content {
  width:300px;
  height: 400px;
  margin: 1rem auto;

}
}
