* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav__container {
  width: 100%;
  background-color: lightseagreen;
  height: 95px;
  position: sticky;
  top:0;
  z-index: 999;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.nav__box {
  width: 89%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  margin-right: 10px;
}

.nav__logo {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.icone{
  display: flex;
  align-items: center;
}
.icone .icons{
  margin-right: 10px;
  color: white;
}
.nav__basket :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

}

.nav__basket :nth-child(2) {
  position: relative;
  top:-13px;
  right: -2px;
  font-size: 1.9rem;
  background-color:transparent;
  color:white ;
  font-weight: bold;
}
.input{
 width: 50%;
display: flex;
justify-content: space-between;
position: absolute;
left:20rem;
}
 .input input{
  width: 60%;
  padding: 6px;
border: none;
outline: none;
margin-bottom: 7px;
box-shadow: 0 1px 5px 6px rgb(250, 247, 247);
background:rgb(218, 212, 211);
color: rgb(34, 17, 17);
border-radius: 1px;
font-size: 1rem;
 }
.hiden{
  display: none;
}
.show{
  display: block;
}
.iconSearch{
  position: absolute;
  right:12.9rem;
  top:7.5px
}
.list__cars{
  position: absolute;
  right: 12rem;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.list__cars h2{
  margin-left: 0px;
}
.list-cars{
  position:absolute;
  right:5rem;
  top:7rem; 
}
.list-cars ul{
   list-style: none;
   border: 3px solid #eee;
}
.list-cars li {
  padding: 1.5rem;
  cursor: pointer;
  transition: all .6s ease-in-out;
  font-weight: bold;
}
.list-cars li:hover{
  background: rgba(230, 229, 229,0.5);
  color: rgb(231, 47, 14);
}
@media(min-width:700px){
  .input{
    position: absolute;
    top:33px;
    right:180px;
    width: 30%;
  }
}
@media(max-width:700px){
  .list__cars{
    display: none;
  }
}



