* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav__container {
  width: 100%;
  background-color: lightseagreen;
  height: 60px;
}
.nav__box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  align-items: center;
}
.nav__logo {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.nav__basket{
    /* display: flex;
    align-items: center; */
}
.nav__basket :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav__basket :nth-child(2) {
  position: relative;
  top: -10px;
  font-size: 1.5rem;
  background-color: white;
  color: lightseagreen;
  border-radius: 50%;
  padding: 1.5px;
  font-weight: bold;
}
