* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  min-width: 90%;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content:space-between;
  margin:15px;
}
.list:hover{
    box-shadow:5px 5px 5px 5px rgba(39, 146, 141,0.1);
    cursor: pointer;
}
.list__box img {
  width: 100px;
}
.list__details {
  margin-left: 10px;
}
.list__details :nth-child(1) {
  font-weight: bold;
}
.list__details :nth-child(2) {
  color: lightseagreen;
  font-weight: bold;
}
.list__details :nth-child(3) {
  color: tomato;
  font-weight: bold;
}
.row__buttom {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.row__buttom span {
  margin: 3px;
  width: 25px;
  height: 25px;
    box-shadow: 0px 0px 5px 5px rgba(141,194,191,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.row__buttom :nth-child(4) {
  color: rgb(241, 54, 54);
  border: none;
  box-shadow: 0px 0px 0px 0px rgba(141,194,191,0.1);
}
.line {
  display: block;
  border-top: 2px solid rgb(141, 194, 191);
  width: 95%;
  margin: auto;
}
.total {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(39, 146, 141,0.1);
  width: 90%;
 margin: 40px auto;
 padding: 30px;
 align-items: center;
}

.total div :nth-child(2) {
  font-size: 2.2rem;
}
.total button  {
 background: tomato;
 font-size: 2.2rem;
 border: none;
 padding: 1rem 2rem;
 border-radius: 7px;
   cursor: pointer;
}
.show{
  display: block;
}
.hiden{
  display: none;
}
@media (min-width: 768px) {
  .list__details {
    display: flex;
  }
  .list__details p {
    margin-left: 10px;
    font-weight: bold;
  }
  .list__details :nth-child(1) {
    font-size: 1.6rem;
  }
  .list__details :nth-child(2) {
     font-size: 1.6rem;
  }
  .list__details :nth-child(3) {
      font-size: 1.6rem;
  }
  .total :nth-child(1){
    font-size: 1.5rem;
  }
  .row__buttom span{
    font-size: 1.8rem;
  }
  .row__buttom :nth-child(4){
    margin-left: 50px;
  }
}
@media (max-width:700px){
  .total button  {

 font-size: 1.2rem;
 padding: 0.1rem 0.3rem;
}
.total div :nth-child(2) {
  font-size: 1.2rem;
}
}