* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  min-width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.list:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.list__box img {
  width: 100px;
}
.list__details {
  margin-left: 10px;
}
.list__details :nth-child(1) {
  font-weight: bold;
}
.list__details :nth-child(2) {
  color: lightseagreen;
  font-weight: bold;
}
.list__details :nth-child(3) {
  color: tomato;
  font-weight: bold;
}
.row__buttom {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.row__buttom span {
  margin: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.row__buttom :nth-child(4) {
  color: rgb(241, 54, 54);
  border: none;
}
.line {
  display: block;
  border-top: 2px solid rgb(141, 194, 191);
  width: 99%;
  margin: auto;
}
.total {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 10px 10px 10px rgba(141,194,191,0.1);
  width: 90%;
 margin: 40px auto;
 padding: 30px;
}
.total :nth-child(2) {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .list {
    justify-content: space-around;
  }
  .list__details {
    display: flex;
  }
  .list__details p {
    margin-left: 10px;
    font-weight: bold;
  }
  .list__details :nth-child(1) {
    font-size: 1.6rem;
  }
  .list__details :nth-child(2) {
     font-size: 1.6rem;
  }
  .list__details :nth-child(3) {
      font-size: 1.6rem;
  }
}
