* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
}
.cards {
  margin: 15px;
  padding: 2rem;
  transition: all 0.7s;
  border-radius: 10px;
}
.cards:hover {
  box-shadow: 0 5px 10px 5px rgba(39, 146, 141, 0.3);
  cursor: pointer;
  transform: scale(1.3);
}
.img_box img {
  width: 250px;
}
.details {
  position: relative;
}
.details :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.details :nth-child(2) {
  font-size: 1.1rem;
  color: rgb(39, 146, 141);
  font-weight: bold;
}
.details :nth-child(3) {
  color: tomato;
  font-size: 1.2rem;
  font-weight: bold;
}

.details button {
  background: lightseagreen;
  border: none;
  padding: 6px;
  border-radius: 1px;
  color: white;
  font-weight: bold;
}
.details :nth-child(5) {
  position: absolute;
  top: 75px;
  z-index: -1;
  transform: translateX(0px);
}
